<!DOCTYPE html>
<html lang="en">

<head>  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CUBE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/Picture1.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

 
</head>


<body>

  <%- include('partials/header.ejs') %>
  
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>ABOUT</h2>
        <ol>
          <li><a href="index">Home</a></li>
          <li>About</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

   

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <div class="d-flex flex-row">
              <div>
            <h4 style="color: rgb(45, 104, 193);">Managing Director</h4>
          <h3> DR. HATEM KAMAL <br> EL–MELIGY</h3>
            </div>
            <img class="border border-secondary border-2" style=" margin-left:30px;margin-top:-15px;height: 140px;width:140px" src="assets/img/hatem.png" alt="">
            </div>
            <p><b>Since March 2020: Design Director & (Owner) at “CUBE” Engineering Consultant Office.
              <br><br>
              May 2010 – March 2020 «SODIC» Six of October Development & Investment Company
(Senior Structure Engineer / Lead Structure Engineer).
(Structural Design for inhouse projects & Review the outsource projects, Site support
for any construction issues, preparing and requirements of repair and strengthening for
concrete)
              <br><br>
              February 2009– April 2010 “ARABTECH JURDANAH” Engineering Consultant Office
              (Structure Engineer)
              (Structural Design for all offices’ projects in Jordon including residential & commercial
              and office buildings, Site support for any construction issues).
<br><br>
January 2008 – December 2008 “CANADIAN” consultant Office in Dubai. (Structure
Engineer)
(Structural Design for all offices’ projects in Dubai including concrete tower buildings
with height form 25 typical floors to 35 typical floors, Site support for any construction
issues).
<br><br>
April 2005 – November 2007 “ECH” Egyptian Consulting House. (Structure Engineer)
(Participated Design & Working Drawing in several Residential & Touristic projects in
Egypt & Saudi Arabia “Hotels, Villas, etc.(Marasi, Uptown Cairo, SODIC ) in Egypt & (16
hotels) in Saudi Arabia).

<br><br>
August 2002 – January 2003 Enviro Civic Engineering Consultants. (Structure Engineer)
(Structure Design For different projects including residential and water tanks and waste
water treatment plant and Pump rooms).
            </b></p>

           
          </div>

          <div style="position: relative;top: -32px;" class="col-lg-5 d-flex flex-column justify-content-center">
            <div class="d-flex flex-row">
              <div>
            <h4 style="color: rgb(45, 104, 193);">Consultant Eng.</h4>
          <h3> KAMAL EL–MELIGY
              <br>
              CEO</h3>
            </div>
            <img class="border border-secondary border-2" style=" margin-left:30px;margin-top:-15px;height: 140px;width:140px" src="assets/img/MELIGY.png" alt="">
            </div>
            <p><b>IS AN EXPERIENCED RESIDENT ENGINEER WITH OVER 41 YEARS OF
              EXPERIENCE IN WATER PROJECTS SECTOR AND IT`S RELATED WORKS
              (PIPING WORKS, PUMPING STATIONS,ELECTRICAL SUBSTATIONS,
              ...ETC).<br><br>
              HE WORKED APPROX. 30 YEARS IN GULF COUNTRIES IN THE SAME
              FIELD WITH MINISTRY OF ELECTRICITY AND WATER (WATER PROJECTS
              DEPARTEMENT) AT KUWAIT FOR 20 YEARS
              <br><br>
              HE WORKED AS AN EXPIRT RE WITH AN INTRNATIONAL CONSULTANT
OFFICE IN CONSTRUCTION OF HUGE WASTE WATER TREATMENT
PALNT AT CAIRO (EGYPT) WITH A TOTAL CAPACITY OF 600,000 M3 /
DAY AT BEAK) FOR 3 YEARS.<br><br>
HE WORKED AS A CLIENT RE FOR CONSTRUCTION OF A HUGE
SEAWTER PUMPING STATION WITH A TOTAL CAPACITY OF 334,000.000
M3 per hour WITH ALL ANCILLARY WORKS LIKE CHLORINATION PLANT,
ELECTRICAL SUBSTATION, WORKSHOP, ...ETC
<br><br>
WITH MINISTRY OF NATIONAL ECONOMY AT OMAN FOR TWO AND
HALF YEARS AND AFTER WITH MAJIS INDUSTRIAL SERVICE COMPLANY
(OMAN) IN SEAWATER PROJECTS, WWTP, COMMON COOLING WATER
SYSTEM, CONSTRUCTION OF ADMINSTRATION BUILDING,...ETC FOR 6
YEARS. HE WORKED AS RE FOR TREATED INDUSTRIAL NETWORK AND
STORAGE FACILITY AT SOHAR INDUSTRIAL PORT AREA WITH PARSONS
INTERNATIONAL COMP. FOR 3 YEARS

            </b></p>

           
          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

   
  </main><!-- End #main -->

   <!-- ======= Footer ======= -->
   <%- include('partials/footer.ejs') %>

  <!-- End Footer -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>