<style>
  .mt-n1 {
    margin-top: -0.5rem !important;
  }
</style>
<!DOCTYPE html>
<html lang="en">

<head>  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CUBE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/Picture1.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

 
</head>

<body>

   <!-- ======= Header ======= -->
   <%- include('partials/header.ejs') %>

   <!-- End Header -->
 
   
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Add Projects</h2>
        <ol>
          <li><a href="index">Home</a></li>
          <li>Add Projects</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <section>
      <div class="container shadow-lg rounded-4 border border-primary-subtle border-3 flex-shrink-1">
        <form  id="AddProjectForm" action="/adminAddProject" method="POST"  enctype="multipart/form-data" onsubmit="AddProject()">
         <div class="mb-3">
          <div class="d-flex flex-wrap gap-5 mt-3 justify-content-center">
            <div class="d-flex gap-3 justify-content-center">
              <h2 >Title : </h2>
              <input id="title" class="border border-secondary-subtle border rounded-3 w-15" type="text" placeholder="Enter Project Title">
            </div>
            <div class="d-flex gap-3 justify-content-center">
              <h2 >Client : </h2>
              <input id="Client" class="border border-secondary-subtle border rounded-3 w-15" type="text" placeholder="Enter Client Name">
            </div>
            <div class="d-flex gap-3 justify-content-center">
              <h2>Date: </h2>
              <input id="Date" class="border border-secondary-subtle border rounded-3  "type="date">
              <p class="text-primary">*Not Required</p>
            </div>
          </div>
          <div class="d-flex gap-4 flex-wrap   mt-3 justify-content-center">
          <div class=" d-flex gap-3  mt-3 justify-content-center">
              <h2>Project Category : </h2>
              <select id="categorySelect" class=" h-75 border border-secondary-subtle border rounded-3 w-auto ">
                <option value="Select a Category">Select a Category</option>
               <% if (categories.length>0) { %>
                <% categories.forEach(category => { %>
                 <option value= "<%= category.Title %>"> <%= category.Title %></option>
                <% }) %>
               <% } %>
              </select>  
            </div>
              <div class="mt-n1">
                <label for="formFile" class="form-label" style="margin-bottom: -1px;">Choose Cover Photo</label>
                <input class="form-control color-primary" placeholder="image" accept="image/*" name="image" type="file" id="formFileCover">
              </div>
              <div class="mt-n1">
                <label for="formFile" class="form-label" style="margin-bottom: -1px;">Choose Slider Photos ( maximum 6 )</label>
                <input class="form-control color-primary" placeholder="image" accept="image/*" name="image" type="file" id="formFileSlider" multiple>
              </div>
             
            </div>
          <div class="mt-3">
            <h2>Project Description :</h2>
            <textarea id="description" class="form-control border border-3" id="exampleFormControlTextarea1"rows="12"></textarea>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-3 h-100 d-inline-block btn-lg">Add Project</button>
          </div>
         </div>
      </form>
      </div>
    </section>

  </main><!-- End #main -->

   <!-- ======= Footer ======= -->
   <%- include('partials/footer.ejs') %>

  <!-- End Footer -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
   
   async function AddProject() {
    event.preventDefault();
      const title = document.getElementById('title').value;
      console.log(title);
      const Client = document.getElementById('Client').value;
      console.log(Client);
      const category = document.getElementById('categorySelect').value;
      console.log(category);
      const Date = document.getElementById('Date').value;
      console.log(Date);
      const description = document.getElementById('description').value;
      console.log(description);
      const cover = document.getElementById('formFileCover').value;
      console.log(cover);
      const slider = document.getElementById('formFileSlider').value;
      console.log(slider);
      const formData = new FormData(document.getElementById('AddProjectForm'));
      formData.append('title', title);
      formData.append('Client', Client);
      formData.append('category', category);
      formData.append('Date', Date);
      formData.append('description', description);
      console.log(formData.getAll('image'));

      if(title=="" || Client=="" || category=="Select a Category" || description=="" || cover=="" || slider=="" || Date=="" || formData.getAll('image').length>7){
       if(title=="")
       document.getElementById('title').className="border border-danger-subtle border-3 rounded-3 w-15";
       else
        document.getElementById('title').className="border border-secondary-subtle border rounded-3 w-15";
        if(Client=="")
        document.getElementById('Client').className="border border-danger-subtle border-3  rounded-3 w-15";
        else
        document.getElementById('Client').className="border border-secondary-subtle border rounded-3 w-15";
        if(category=="Select a Category")
        document.getElementById('categorySelect').className="border border-danger-subtle border-3  rounded-3 w-auto";
        else
        document.getElementById('categorySelect').className="border border-secondary-subtle border rounded-3 w-auto";
        if(description=="")
        document.getElementById('description').className="form-control border border-danger-subtle border-3";
        else
        document.getElementById('description').className="form-control border border-3";
        if(cover=="")
        document.getElementById('formFileCover').className="form-control border border-danger-subtle border-3";
        else
        document.getElementById('formFileCover').className="form-control border border-3";
        if(slider=="")
        document.getElementById('formFileSlider').className="form-control border border-danger-subtle border-3";
        else
        document.getElementById('formFileSlider').className="form-control border border-3";
        if(Date=="")
        document.getElementById('Date').className="border border-danger-subtle border-3";
        else
        document.getElementById('Date').className="border border-3";
        if(formData.getAll('image').length>7)
        document.getElementById('formFileSlider').className="form-control border border-danger-subtle border-3";
        else
        document.getElementById('formFileSlider').className="form-control border border-3";

       
      }else{

      
        try {
          const response = await axios.post('/adminAddProject',formData, {
            headers: {
              'Content-Type': 'multipart/form-data',
            },
            });
            if (response.data.success) {
              console.log('Successfully edited a category');
              window.location.reload();
            } else {
              console.error('Failed to edit a category');
            }
         
        }
        catch(error) {
          console.log(error);
  
        }
        
      }
   
     
    }
  </script>
</body>

</html>